CPU288/CPU228.cache/
CCPU288/CPU228.hw/
CCPU288/CPU228.ip_user_files/
CCPU288/CPU228.runs/
CCPU288/CPU228.sim/
CCPU288/CPU228.sim/sim_1/
CPU228.xpr
CPU228/CPU228.sim/sim_1/behav/xsim/compile.sh
CPU228/CPU228.sim/sim_1/behav/xsim/elaborate.sh
*.log
elaborate.sh
*.wdb
simulate.sh

